.custom-navbar .navbar .nav .navbar-brand .collapse .navbar-collapse {
    background-color: blue; !important; /* Your desired background color */
    color: #28a745; !important;
    /* Add more custom styles as needed */
}
.custom-navbar .navbar-brand {
    color: #28a745; /* Cor do nome do aplicativo */
}

.custom-navbar .navbar-nav .nav-link {
    color: #28a745; /* Cor dos links do menu */
}

.custom-navbar .navbar-toggler-icon {
    background-color: #28a745; /* Cor do ícone do botão de toggler */
}
.btn .btn-link .login{
    color: #28a745;
}
.btn .custom-btn {
    color: #28a745;
}

html,
body {
    background-color: #ddd;
    height: 100%;
    flex:1;
}


main{
    flex: 1;
}
aside {
    min-width: 200px;
    background-color: #333333;
}

aside .nav-pills .nav-link {
    border-radius: 0;
    /*color:#333333;*/
    color: #28a745;
}

aside .nav-pills .nav-link:hover {
    background: rgba(0,0,0,0.05);
}

aside .nav-pills .nav-link.active {
    background: rgba(0,0,0,0.05);
    color: #28a745;
    border-left: 4px solid #28a745;
}

.content-wrapper {
    flex: 1;
}
